.appList {
    width: 100%;
    margin-top: 80px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &Movies {
        margin-top: 30px;
        width: 20%;
    }
    &MoviesPicture {
        width: 147px;
        height: 196px;
        margin: auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    &MoviesDescription {
        margin-top: 20px !important;
        word-break: word-break;
        width: 150px;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .appList {
        flex-wrap: wrap;
        &Movies {
            width: 50%;
        }
        &MoviesPicture {
            margin: auto;
        }
    }
}