@import '../../_sass/variables.scss';

.appList {
    width: $purcent*100;
    margin-top: $pixels*80 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: $breakpointTabletAndMobile) {
        flex-wrap: wrap;
    }

    &Movies {
        margin-top: $pixels*30;
        width: $purcent*20;
        @media (max-width: $breakpointTabletAndMobile) {
            width: $purcent*50;
        }
    }
    &MoviesPicture {
        width: $pixels*147;
        height: $pixels*196;
        margin: auto;
        img {
            width: $purcent*100;
            height: auto;
        }
    }
    &MoviesDescription {
        margin-top: $pixels*20 !important;
        word-break: word-break;
        width: $pixels*150;
        margin: auto;
    }
}